form.user-info-form {

}

form.user-info-form .form-row {
    display: flex;
    justify-content: center;
}

form.user-info-form .form-label {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

form.user-info-form .form-control {
    margin-top: 2px;
    margin-bottom: 0;
}

form.user-info-form .form-control:disabled {
    background-color: white;
    border: none;
}

div.user-info-content {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

div.info-buttons {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ced4da;
}

button.user-info-btn {
    background-color: white;
    border: none;
    border-radius: 0;
    color: #6c757d;
    text-decoration: underline;
}

button.user-info-btn:hover{
    background-color: white;
    color: #6c757d;
}

button.edit-btn:disabled {
    background-color: lightgray;
}

div.user-info-page-entity {
    height: 100%;
}