div.post-content {
    height: calc(100% - 182px - 131px); /*all page - userInfo & post writter + margins*/
    border-radius: 5px;
}

div.post-writer-form {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

div.all-posts {
    height: 100%;
    overflow-y: auto;
}

div.publish-buttons {
    margin: 5px 0 5px 0;
    display: flex;
    justify-content: flex-end;
}

button.publish-btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #6c757d;
    text-decoration: underline;
}

button.publish-btn:hover {
    background-color: lightgreen;
}
