div.post-entry {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

div.author-title {
    display: flex;
    flex-direction: column;
}

div.post-entry p {
    margin: 0;
}

div.author-title {
    border-bottom: 1px solid #ced4da;
    font-weight: 600;
}

p.author-credentials {
    color: green;
    font-size: 16px;
}

p.post-created {
    font-size: 10px;
    color: #6c757d;
}

div.post-text {
    padding: 5px;
}

p.post-text {
    font-size: 16px;
    color: #6c757d;
}