div.register-form {
    height: calc(100% - 5px);/*Minus margin*/
    margin-top: 5px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

div.register-buttons-group {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

div.register-buttons-group #back-to-log-in-btn-id {
    margin-right: 5px;
}

div.register-buttons-group #register-btn-id {
    margin-left: 5px;
}